@model List<Aluno>
@{
    ViewData["Title"] = "Alunos";
}
<div class="container">


    <div class="row pt-4 pb-4">
        <div class="col-6">
            <h2 class="text-primary">Aluno</h2>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Login</th>
                <th>Senha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var aluno in Model)
            {
                <tr>
                    <td>@aluno.Id</td>
                    <td>@aluno.Nome</td>
                    <td>@aluno.Login</td>
                    <td>@aluno.Senha</td>
                </tr>
            }
        </tbody>
    </table>
</div>